
/*-------------------FOOTER-----------------*/
.footer{
	font-size: 20px;
	text-align: center;
	background-color:rgba(215, 187, 135, 0.76);
	padding: 30px; 
	margin: 0%;
	color: white;
}
/*-------------------END FOOTER-----------------*/

